# Proyecto 2

Integrantes:

*Jessica Robles*

*Maria Paula Gonzalez*

*Juan Esteban Vergara*

In [1]:
seed = 161
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

# Composicion de pipelines
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

# Regresion lineal
from sklearn.linear_model import LinearRegression

# Importar/ Exportar modelos
from joblib import dump, load

# Metricas
from sklearn.metrics import mean_squared_error as mse

# q-q plots
import scipy.stats as stats

import json

## Cargar datos

### Mineria

In [4]:
df_mineria = pd.read_json("datosMineria.json")
df_mineria

,codigo_dane,municipio_productor,departamento,recurso_natural,nombre_del_proyecto,a_o_produccion,trimestre,unidad_medida,tipo_contraprestacion,valor_contraprestacion,cantidad_producci_n
0,5001,Medellin,Antioquia,ARCILLA,PRODUCTORES,2018,Trimestre 4,TONELADAS,REGALIA,614258.0,0.0
1,5001,Medellin,Antioquia,ARCILLAS CERAMICAS,PRODUCTORES,2014,Trimestre 4,TONELADAS,REGALIA,2036781.0,14381.0
2,5001,Medellin,Antioquia,ARCILLAS FERRUGINOSAS,PRODUCTORES,2012,Trimestre 1,TONELADAS,REGALIA,836927.0,16308.0
3,5001,Medellin,Antioquia,ARCILLAS MISCELANEAS,PRODUCTORES,2019,Trimestre 1,TONELADAS,REGALIA,5763839.0,33348.0
4,5001,Medellin,Antioquia,ARCILLAS MISCELANEAS,PRODUCTORES,2019,Trimestre 2,TONELADAS,REGALIA,5802546.0,32485.0
...,...,...,...,...,...,...,...,...,...,...,...
45210,99773,Cumaribo,Vichada,TANTALIO,PRODUCTORES,2018,Trimestre 2,KILOGRAMOS,REGALIA,645095.0,35.0
45211,99773,Cumaribo,Vichada,ORO,PRODUCTORES,2019,Trimestre 4,GRAMOS,REGALIA,9251843.0,1752.0
45212,99773,Cumaribo,Vichada,NIOBIO,PRODUCTORES,2014,Trimestre 4,KILOGRAMOS,REGALIA,23396026.0,6195.0
45213,99773,Cumaribo,Vichada,NIOBIO,PRODUCTORES,2016,Trimestre 4,KILOGRAMOS,REGALIA,12658396.0,1442.0
45214,99773,Cumaribo,Vichada,VOLFRAMIO,PRODUCTORES,2016,Trimestre 4,KILOGRAMOS,REGALIA,8351500.0,2840.0

### Indicadores

In [2]:
df_conflicto = pd.read_excel("Conflicto Armado.xlsx")
df_conflicto

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"35.826,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
2,5.0,Antioquia,5000.0,Antioquia,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"8.246,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
3,5.0,Antioquia,5001.0,Medellín,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"516,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
4,5.0,Antioquia,5002.0,Abejorral,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"75,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
314114,99.0,Vichada,99001.0,Puerto Carreño,Conflicto armado y seguridad ciudadana,Violencias de género,Tasa de violencias basadas en género,"575,89",NaN,2018.0,12.0,Ministerio de Salud y Protección Social,Casos de violencia hacia mujeres por cada 100...
314115,99.0,Vichada,99000.0,Vichada,Conflicto armado y seguridad ciudadana,Violencias de género,Tasa de violencias basadas en género,"261,48",NaN,2018.0,12.0,Ministerio de Salud y Protección Social,Casos de violencia hacia mujeres por cada 100...
314116,99.0,Vichada,99773.0,Cumaribo,Conflicto armado y seguridad ciudadana,Violencias de género,Tasa de violencias basadas en género,"176,19",NaN,2018.0,12.0,Ministerio de Salud y Protección Social,Casos de violencia hacia mujeres por cada 100...
314117,99.0,Vichada,99524.0,La Primavera,Conflicto armado y seguridad ciudadana,Violencias de género,Tasa de violencias basadas en género,"153,05",NaN,2018.0,12.0,Ministerio de Salud y Protección Social,Casos de violencia hacia mujeres por cada 100...
314118,99.0,Vichada,99624.0,Santa Rosalía,Conflicto armado y seguridad ciudadana,Violencias de género,Tasa de violencias basadas en género,"289,72",NaN,2018.0,12.0,Ministerio de Salud y Protección Social,Casos de violencia hacia mujeres por cada 100...

In [3]:
df_poblacion = pd.read_excel("Demografía Y Poblacion.xlsx")
df_poblacion

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,68.0,Santander,68000.0,Santander,Demografía y población,Población de hombres,Población de hombres de 00-04,"80.892,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
2,68.0,Santander,68001.0,Bucaramanga,Demografía y población,Población de hombres,Población de hombres de 00-04,"18.873,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
3,68.0,Santander,68013.0,Aguada,Demografía y población,Población de hombres,Población de hombres de 00-04,"57,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
4,68.0,Santander,68020.0,Albania,Demografía y población,Población de hombres,Población de hombres de 00-04,"140,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
...,...,...,...,...,...,...,...,...,...,...,...,...,...
897993,8.0,Atlántico,8560.0,Ponedera,Demografía y población,Migración,Porcentaje de población regular que ha accedid...,"11,61",NaN,2021.0,12.0,Unidad Administrativa de MigraciÃ³n Colombia -...,Porcentaje
897994,8.0,Atlántico,8832.0,Tubará,Demografía y población,Migración,Porcentaje de población regular que ha accedid...,"15,29",NaN,2021.0,12.0,Unidad Administrativa de MigraciÃ³n Colombia -...,Porcentaje
897995,8.0,Atlántico,8770.0,Suan,Demografía y población,Migración,Porcentaje de población regular que ha accedid...,"20,26",NaN,2021.0,12.0,Unidad Administrativa de MigraciÃ³n Colombia -...,Porcentaje
897996,8.0,Atlántico,8849.0,Usiacurí,Demografía y población,Migración,Porcentaje de población regular que ha accedid...,"6,82",NaN,2021.0,12.0,Unidad Administrativa de MigraciÃ³n Colombia -...,Porcentaje
897997,11.0,Bogotá,11001.0,Bogotá,Demografía y población,Migración,Porcentaje de población regular que ha accedid...,"63,53",NaN,2021.0,12.0,Unidad Administrativa de MigraciÃ³n Colombia -...,Porcentaje

In [5]:
df_educacion = pd.read_excel("Educacion.xlsx")
df_educacion

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,20.0,Cesar,20000.0,Cesar,Educación,Acceso a la educación,Cobertura bruta en transición,"122,39",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,20.0,Cesar,20001.0,Valledupar,Educación,Acceso a la educación,Cobertura bruta en transición,"98,26",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,20.0,Cesar,20011.0,Aguachica,Educación,Acceso a la educación,Cobertura bruta en transición,"107,07",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,20.0,Cesar,20013.0,Agustín Codazzi,Educación,Acceso a la educación,Cobertura bruta en transición,"120,82",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
291752,73.0,Tolima,73000.0,Tolima,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"100,48",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291753,70.0,Sucre,70000.0,Sucre,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"95,26",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291754,68.0,Santander,68000.0,Santander,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"96,93",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291755,66.0,Risaralda,66000.0,Risaralda,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"99,32",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291756,63.0,Quindío,63000.0,Quindío,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"96,97",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [6]:
df_desempleod = pd.read_excel("Medicion de Desempleo Departamental.xlsx")
df_desempleod

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Medición de desempeño departamental,Resumen MDD,Componente de gestión,"64,47",NaN,2020.0,12.0,DNP - DDDR,Puntos
2,5.0,Antioquia,5000.0,Antioquia,Medición de desempeño departamental,Resumen MDD,Componente de gestión,"81,60",NaN,2020.0,12.0,DNP - DDDR,Puntos
3,8.0,Atlántico,8000.0,Atlántico,Medición de desempeño departamental,Resumen MDD,Componente de gestión,"68,73",NaN,2020.0,12.0,DNP - DDDR,Puntos
4,13.0,Bolívar,13000.0,Bolívar,Medición de desempeño departamental,Resumen MDD,Componente de gestión,"63,53",NaN,2020.0,12.0,DNP - DDDR,Puntos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,91.0,Amazonas,91000.0,Amazonas,Medición de desempeño departamental,Resumen MDD,MDD,"54,41",NaN,2020.0,12.0,DNP - DDDR,Puntos
96,94.0,Guainía,94000.0,Guainía,Medición de desempeño departamental,Resumen MDD,MDD,"57,56",NaN,2020.0,12.0,DNP - DDDR,Puntos
97,95.0,Guaviare,95000.0,Guaviare,Medición de desempeño departamental,Resumen MDD,MDD,"62,47",NaN,2020.0,12.0,DNP - DDDR,Puntos
98,97.0,Vaupés,97000.0,Vaupés,Medición de desempeño departamental,Resumen MDD,MDD,"53,86",NaN,2020.0,12.0,DNP - DDDR,Puntos
99,99.0,Vichada,99000.0,Vichada,Medición de desempeño departamental,Resumen MDD,MDD,"51,29",NaN,2020.0,12.0,DNP - DDDR,Puntos

In [7]:
df_desempleom = pd.read_excel("Medicion de desempleo municipal.xlsx")
df_desempleom

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,81.0,Arauca,81001.0,Arauca,Medición de desempeño municipal,Resumen MDM,Grupo de dotaciones iniciales,NaN,G1- Nivel Alto,2016.0,12.0,DNP - SPT,Texto
2,81.0,Arauca,81065.0,Arauquita,Medición de desempeño municipal,Resumen MDM,Grupo de dotaciones iniciales,NaN,G1- Nivel Alto,2016.0,12.0,DNP - SPT,Texto
3,81.0,Arauca,81220.0,Cravo Norte,Medición de desempeño municipal,Resumen MDM,Grupo de dotaciones iniciales,NaN,G1- Nivel Alto,2016.0,12.0,DNP - SPT,Texto
4,81.0,Arauca,81300.0,Fortul,Medición de desempeño municipal,Resumen MDM,Grupo de dotaciones iniciales,NaN,G3- Nivel Medio,2016.0,12.0,DNP - SPT,Texto
...,...,...,...,...,...,...,...,...,...,...,...,...,...
143820,5.0,Antioquia,5893.0,Yondó,Medición de desempeño municipal,Componente de resultados,Promedio de seguridad por grupo de DI,"86,03",NaN,2020.0,12.0,DNP - SPT,Puntos promedio
143821,5.0,Antioquia,5861.0,Venecia,Medición de desempeño municipal,Componente de resultados,Promedio de seguridad por grupo de DI,"86,03",NaN,2020.0,12.0,DNP - SPT,Puntos promedio
143822,5.0,Antioquia,5873.0,Vigía del Fuerte,Medición de desempeño municipal,Componente de resultados,Promedio de seguridad por grupo de DI,"92,78",NaN,2020.0,12.0,DNP - SPT,Puntos promedio
143823,5.0,Antioquia,5885.0,Yalí,Medición de desempeño municipal,Componente de resultados,Promedio de seguridad por grupo de DI,"90,47",NaN,2020.0,12.0,DNP - SPT,Puntos promedio
143824,5.0,Antioquia,5887.0,Yarumal,Medición de desempeño municipal,Componente de resultados,Promedio de seguridad por grupo de DI,"89,85",NaN,2020.0,12.0,DNP - SPT,Puntos promedio

In [8]:
df_salud = pd.read_excel("Salud.xlsx")
df_salud

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Salud,Aseguramiento,Afiliados al régimen contributivo,"19.957.739,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
2,5.0,Antioquia,5000.0,Antioquia,Salud,Aseguramiento,Afiliados al régimen contributivo,"3.220.651,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
3,5.0,Antioquia,5001.0,Medellín,Salud,Aseguramiento,Afiliados al régimen contributivo,"1.673.771,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
4,5.0,Antioquia,5002.0,Abejorral,Salud,Aseguramiento,Afiliados al régimen contributivo,"2.514,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
411254,15.0,Boyacá,15839.0,Tutazá,Salud,Percepción,Satisfacción con el servicio de salud - No rec...,NaN,NaN,2016.0,12.0,CIUDATOS,Porcentaje (el valor está multiplicado por 100)
411255,15.0,Boyacá,15842.0,Umbita,Salud,Percepción,Satisfacción con el servicio de salud - No rec...,NaN,NaN,2016.0,12.0,CIUDATOS,Porcentaje (el valor está multiplicado por 100)
411256,15.0,Boyacá,15861.0,Ventaquemada,Salud,Percepción,Satisfacción con el servicio de salud - No rec...,NaN,NaN,2016.0,12.0,CIUDATOS,Porcentaje (el valor está multiplicado por 100)
411257,15.0,Boyacá,15879.0,Viracachá,Salud,Percepción,Satisfacción con el servicio de salud - No rec...,NaN,NaN,2016.0,12.0,CIUDATOS,Porcentaje (el valor está multiplicado por 100)
411258,15.0,Boyacá,15897.0,Zetaquira,Salud,Percepción,Satisfacción con el servicio de salud - No rec...,NaN,NaN,2016.0,12.0,CIUDATOS,Porcentaje (el valor está multiplicado por 100)

In [9]:
df_vys = pd.read_excel("Vivienda y Servicios Publicos.xlsx")
df_vys

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"95,79",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
2,5.0,Antioquia,5000.0,Antioquia,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"98,05",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
3,5.0,Antioquia,5001.0,Medellín,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"100,00",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
4,5.0,Antioquia,5002.0,Abejorral,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"100,00",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
220657,73.0,Tolima,73770.0,Suárez,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,55",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220658,73.0,Tolima,73854.0,Valle de San Juan,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,64",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220659,73.0,Tolima,73861.0,Venadillo,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,68",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220660,73.0,Tolima,73870.0,Villahermosa,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,11",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220661,73.0,Tolima,73873.0,Villarrica,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,88",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)

### Departamentos y municipios

In [10]:
df_depymun = pd.read_csv("Departamentos_y_municipios_de_Colombia.csv")
df_depymun

,REGION,CÓDIGO DANE DEL DEPARTAMENTO,DEPARTAMENTO,CÓDIGO DANE DEL MUNICIPIO,MUNICIPIO
0,Región Eje Cafetero - Antioquia,5,Antioquia,5.001,Medellín
1,Región Eje Cafetero - Antioquia,5,Antioquia,5.002,Abejorral
2,Región Eje Cafetero - Antioquia,5,Antioquia,5.004,Abriaquí
3,Región Eje Cafetero - Antioquia,5,Antioquia,5.021,Alejandría
4,Región Eje Cafetero - Antioquia,5,Antioquia,5.030,Amagá
...,...,...,...,...,...
1118,Región Eje Cafetero - Antioquia,17,Caldas,17.444,Marquetalia
1119,Región Pacífico,52,Nariño,52.051,Arboleda
1120,Región Pacífico,76,Valle del Cauca,76.109,Buenaventura
1121,Región Caribe,47,Magdalena,47.189,Ciénaga
1122,Región Caribe,8,Atlántico,8.560,Ponedera

### Dimensiones

In [11]:
df_dim_serv = pd.read_excel("TerriData_Dim3_viviendaServiciosPublicos.xlsx")
df_dim_serv

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"95,79",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
2,5.0,Antioquia,5000.0,Antioquia,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"98,05",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
3,5.0,Antioquia,5001.0,Medellín,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"100,00",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
4,5.0,Antioquia,5002.0,Abejorral,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"100,00",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
220657,13.0,Bolívar,13810.0,Tiquisio,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"1,38",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220658,13.0,Bolívar,13836.0,Turbaco,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"2,84",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220659,13.0,Bolívar,13838.0,Turbaná,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,92",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220660,13.0,Bolívar,13873.0,Villanueva,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"1,10",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220661,13.0,Bolívar,13894.0,Zambrano,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,72",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)

In [12]:
df_dim_edu = pd.read_excel("TerriData_Dim4_Educacion.xlsx")
df_dim_edu

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Educación,Acceso a la educación,Cobertura bruta en transición,"95,42",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,5.0,Antioquia,5000.0,Antioquia,Educación,Acceso a la educación,Cobertura bruta en transición,"78,62",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,5.0,Antioquia,5001.0,Medellín,Educación,Acceso a la educación,Cobertura bruta en transición,"103,23",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,5.0,Antioquia,5002.0,Abejorral,Educación,Acceso a la educación,Cobertura bruta en transición,"51,80",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294119,15.0,Boyacá,15000.0,Boyacá,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"96,75",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
294120,13.0,Bolívar,13000.0,Bolívar,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"99,78",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
294121,8.0,Atlántico,8000.0,Atlántico,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"92,67",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
294122,5.0,Antioquia,5000.0,Antioquia,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"94,30",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
294123,1.0,Colombia,1001.0,Colombia,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"92,64",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [13]:
df_dim_salud = pd.read_excel("TerriData_Dim5_salud.xlsx")
df_dim_salud

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Salud,Aseguramiento,Afiliados al régimen contributivo,"19.957.739,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
2,5.0,Antioquia,5000.0,Antioquia,Salud,Aseguramiento,Afiliados al régimen contributivo,"3.220.651,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
3,5.0,Antioquia,5001.0,Medellín,Salud,Aseguramiento,Afiliados al régimen contributivo,"1.673.771,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
4,5.0,Antioquia,5002.0,Abejorral,Salud,Aseguramiento,Afiliados al régimen contributivo,"2.514,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
469604,97.0,Vaupés,97001.0,Mitú,Salud,Tasas y coberturas,Tasa de negligencia y abandono,"25,50",NaN,2020.0,12.0,Fondo de Población de las Naciones Unidas - UN...,Casos de abandono por cada 100.000 mujeres
469605,99.0,Vichada,99773.0,Cumaribo,Salud,Tasas y coberturas,Tasa de negligencia y abandono,"48,62",NaN,2020.0,12.0,Fondo de Población de las Naciones Unidas - UN...,Casos de abandono por cada 100.000 mujeres
469606,99.0,Vichada,99524.0,La Primavera,Salud,Tasas y coberturas,Tasa de negligencia y abandono,"0,00",NaN,2020.0,12.0,Fondo de Población de las Naciones Unidas - UN...,Casos de abandono por cada 100.000 mujeres
469607,99.0,Vichada,99624.0,Santa Rosalía,Salud,Tasas y coberturas,Tasa de negligencia y abandono,"0,00",NaN,2020.0,12.0,Fondo de Población de las Naciones Unidas - UN...,Casos de abandono por cada 100.000 mujeres
469608,99.0,Vichada,99001.0,Puerto Carreño,Salud,Tasas y coberturas,Tasa de negligencia y abandono,"0,00",NaN,2020.0,12.0,Fondo de Población de las Naciones Unidas - UN...,Casos de abandono por cada 100.000 mujeres

In [14]:
df_dim_pobreza = pd.read_excel("TerriData_Dim14_pobreza.xlsx")
df_dim_pobreza

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Pobreza,Indicadores de pobreza,Incidencia de la pobreza monetaria,"49,70",NaN,2002.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)
2,5.0,Antioquia,5000.0,Antioquia,Pobreza,Indicadores de pobreza,Incidencia de la pobreza monetaria,"47,90",NaN,2002.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)
3,5.0,Antioquia,5001.0,Medellín,Pobreza,Indicadores de pobreza,Incidencia de la pobreza monetaria,"36,50",NaN,2002.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)
4,8.0,Atlántico,8000.0,Atlántico,Pobreza,Indicadores de pobreza,Incidencia de la pobreza monetaria,"50,10",NaN,2002.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20035,1.0,Colombia,1001.0,Colombia,Pobreza,Incidencia de pobreza monetaria extrema según ...,Incidencia de pobreza monetaria extrema en muj...,"12,70",NaN,2021.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)
20036,1.0,Colombia,1001.0,Colombia,Pobreza,Incidencia de pobreza monetaria según sexo - A...,Incidencia de pobreza monetaria en hombres - A...,"41,70",NaN,2020.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)
20037,1.0,Colombia,1001.0,Colombia,Pobreza,Incidencia de pobreza monetaria según sexo - A...,Incidencia de pobreza monetaria en hombres - A...,"38,20",NaN,2021.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)
20038,1.0,Colombia,1001.0,Colombia,Pobreza,Incidencia de pobreza monetaria según sexo - A...,Incidencia de pobreza monetaria en mujeres - A...,"43,40",NaN,2020.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)
20039,1.0,Colombia,1001.0,Colombia,Pobreza,Incidencia de pobreza monetaria según sexo - A...,Incidencia de pobreza monetaria en mujeres - A...,"40,30",NaN,2021.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)

## Visualizar datos

### Mineria

In [15]:
df_mineria.head()

,codigo_dane,municipio_productor,departamento,recurso_natural,nombre_del_proyecto,a_o_produccion,trimestre,unidad_medida,tipo_contraprestacion,valor_contraprestacion,cantidad_producci_n
0,5001,Medellin,Antioquia,ARCILLA,PRODUCTORES,2018,Trimestre 4,TONELADAS,REGALIA,614258.0,0.0
1,5001,Medellin,Antioquia,ARCILLAS CERAMICAS,PRODUCTORES,2014,Trimestre 4,TONELADAS,REGALIA,2036781.0,14381.0
2,5001,Medellin,Antioquia,ARCILLAS FERRUGINOSAS,PRODUCTORES,2012,Trimestre 1,TONELADAS,REGALIA,836927.0,16308.0
3,5001,Medellin,Antioquia,ARCILLAS MISCELANEAS,PRODUCTORES,2019,Trimestre 1,TONELADAS,REGALIA,5763839.0,33348.0
4,5001,Medellin,Antioquia,ARCILLAS MISCELANEAS,PRODUCTORES,2019,Trimestre 2,TONELADAS,REGALIA,5802546.0,32485.0

In [16]:
df_mineria.head()

,codigo_dane,municipio_productor,departamento,recurso_natural,nombre_del_proyecto,a_o_produccion,trimestre,unidad_medida,tipo_contraprestacion,valor_contraprestacion,cantidad_producci_n
0,5001,Medellin,Antioquia,ARCILLA,PRODUCTORES,2018,Trimestre 4,TONELADAS,REGALIA,614258.0,0.0
1,5001,Medellin,Antioquia,ARCILLAS CERAMICAS,PRODUCTORES,2014,Trimestre 4,TONELADAS,REGALIA,2036781.0,14381.0
2,5001,Medellin,Antioquia,ARCILLAS FERRUGINOSAS,PRODUCTORES,2012,Trimestre 1,TONELADAS,REGALIA,836927.0,16308.0
3,5001,Medellin,Antioquia,ARCILLAS MISCELANEAS,PRODUCTORES,2019,Trimestre 1,TONELADAS,REGALIA,5763839.0,33348.0
4,5001,Medellin,Antioquia,ARCILLAS MISCELANEAS,PRODUCTORES,2019,Trimestre 2,TONELADAS,REGALIA,5802546.0,32485.0

In [17]:
df_mineria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   codigo_dane             45215 non-null  int64
 1   municipio_productor     45215 non-null  object
 2   departamento            45215 non-null  object
 3   recurso_natural         45215 non-null  object
 4   nombre_del_proyecto     45215 non-null  object
 5   a_o_produccion          45215 non-null  int64
 6   trimestre               45215 non-null  object
 7   unidad_medida           45215 non-null  object
 8   tipo_contraprestacion   45215 non-null  object
 9   valor_contraprestacion  45155 non-null  float64
 10  cantidad_producci_n     45214 non-null  float64
dtypes: float64(2), int64(2), object(7)
memory usage: 3.8+ MB

In [26]:
df_mineria["municipio_productor"].value_counts()

La Jagua de Ibirico    420
Bogota, D.C.           384
Quibdo                 334
Barrancas              298
Istmina                287
                      ...
Topaipi                  1
Ovejas                   1
Yacopi                   1
Pisba                    1
Buesaco                  1
Name: municipio_productor, Length: 832, dtype: int64

In [27]:
df_mineria["departamento"].value_counts()

Antioquia             6988
Boyaca                4892
Choco                 4315
Cundinamarca          4018
Tolima                2103
Cauca                 2075
Caldas                2066
Santander             1980
Bolivar               1881
Norte de Santander    1769
Cesar                 1679
Valle del Cauca       1672
Huila                 1419
Nariño                1400
Cordoba               1048
Meta                   942
La Guajira             884
Risaralda              691
Atlantico              537
Casanare               522
Bogota, D.C.           384
Magdalena              384
Putumayo               336
Caqueta                296
Quindio                262
Sucre                  256
Arauca                 169
Guainia                127
Guaviare                59
Vichada                 47
Vaupes                   9
Amazonas                 4
Nari��o                  1
Name: departamento, dtype: int64

In [28]:
df_mineria["recurso_natural"]

0                      ARCILLA
1           ARCILLAS CERAMICAS
2        ARCILLAS FERRUGINOSAS
3         ARCILLAS MISCELANEAS
4         ARCILLAS MISCELANEAS
                 ...
45210                 TANTALIO
45211                      ORO
45212                   NIOBIO
45213                   NIOBIO
45214                VOLFRAMIO
Name: recurso_natural, Length: 45215, dtype: object

In [29]:
df_mineria["nombre_del_proyecto"].value_counts()

PRODUCTORES                                    43126
MINAS PAZ DEL RIO S.A.                           361
PRODECO - CALENTURITAS                           236
Drummond - El Descanso                           188
Cerro Matoso S.A.                                186
Drummond - La Loma                               180
CERREJON CONTRATO DE ASOCIACION                  149
CERREJON  CZN - CEMT                             109
CARBONES DEL CERREJON COMUNIDAD - RPP            106
CERREJON -  OREGANAL                             100
CONSORCIO MINERO UNIDO S.A.                       65
CERREJON - PATILLA                                61
COLSALMINAS LTDA                                  57
CARBONES DE LA JAGUA S.A.                         49
EL HATILLO CNR                                    45
BRINSA S.A.                                       38
CNR - LA FRANCIA                                  33
CARBONES EL TESORO                                27
SALCOL S.A.                                       23
NORCARBON                                         23
SALINAS DE GALERAS SAS                            17
BIG GROUP SALINAS COLOMBIA - MANAURE              15
CARBONES DEL CERREJON COMUNIDAD - RPP CAYPA       10
MINAS PAZ DEL RIO SA                               5
CARBONES DEL CERREJON LIMITED (CDC LIMITED)        2
CDC LIMITED 50% y CZN S.A. 50%                     2
MINAS PAZ DEL RIO                                  1
Drummond - El Colozo                               1
Name: nombre_del_proyecto, dtype: int64

### Indicadores

### Dimensiones

## Limpieza de datos

## Correlacion de las columnas