# Proyecto 2

Integrantes:

*Jessica Robles*

*Maria Paula Gonzalez*

*Juan Esteban Vergara*

In [1]:
seed = 161
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

# Composicion de pipelines
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

# Regresion lineal
from sklearn.linear_model import LinearRegression

# Importar/ Exportar modelos
from joblib import dump, load

# Metricas
from sklearn.metrics import mean_squared_error as mse

# q-q plots
import scipy.stats as stats

import json

## Cargar datos

### Mineria

In [3]:
df_mineria = pd.read_json("datosMineria.json")
df_mineria

,codigo_dane,municipio_productor,departamento,recurso_natural,nombre_del_proyecto,a_o_produccion,trimestre,unidad_medida,tipo_contraprestacion,valor_contraprestacion,cantidad_producci_n
0,5001,Medellin,Antioquia,ARCILLA,PRODUCTORES,2018,Trimestre 4,TONELADAS,REGALIA,614258.0,0.0
1,5001,Medellin,Antioquia,ARCILLAS CERAMICAS,PRODUCTORES,2014,Trimestre 4,TONELADAS,REGALIA,2036781.0,14381.0
2,5001,Medellin,Antioquia,ARCILLAS FERRUGINOSAS,PRODUCTORES,2012,Trimestre 1,TONELADAS,REGALIA,836927.0,16308.0
3,5001,Medellin,Antioquia,ARCILLAS MISCELANEAS,PRODUCTORES,2019,Trimestre 1,TONELADAS,REGALIA,5763839.0,33348.0
4,5001,Medellin,Antioquia,ARCILLAS MISCELANEAS,PRODUCTORES,2019,Trimestre 2,TONELADAS,REGALIA,5802546.0,32485.0
...,...,...,...,...,...,...,...,...,...,...,...
45210,99773,Cumaribo,Vichada,TANTALIO,PRODUCTORES,2018,Trimestre 2,KILOGRAMOS,REGALIA,645095.0,35.0
45211,99773,Cumaribo,Vichada,ORO,PRODUCTORES,2019,Trimestre 4,GRAMOS,REGALIA,9251843.0,1752.0
45212,99773,Cumaribo,Vichada,NIOBIO,PRODUCTORES,2014,Trimestre 4,KILOGRAMOS,REGALIA,23396026.0,6195.0
45213,99773,Cumaribo,Vichada,NIOBIO,PRODUCTORES,2016,Trimestre 4,KILOGRAMOS,REGALIA,12658396.0,1442.0
45214,99773,Cumaribo,Vichada,VOLFRAMIO,PRODUCTORES,2016,Trimestre 4,KILOGRAMOS,REGALIA,8351500.0,2840.0

### Indicadores

In [2]:
df_conflicto = pd.read_excel("Conflicto Armado.xlsx")
df_conflicto

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"35.826,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
2,5.0,Antioquia,5000.0,Antioquia,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"8.246,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
3,5.0,Antioquia,5001.0,Medellín,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"516,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
4,5.0,Antioquia,5002.0,Abejorral,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"75,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
314114,99.0,Vichada,99001.0,Puerto Carreño,Conflicto armado y seguridad ciudadana,Violencias de género,Tasa de violencias basadas en género,"575,89",NaN,2018.0,12.0,Ministerio de Salud y Protección Social,Casos de violencia hacia mujeres por cada 100...
314115,99.0,Vichada,99000.0,Vichada,Conflicto armado y seguridad ciudadana,Violencias de género,Tasa de violencias basadas en género,"261,48",NaN,2018.0,12.0,Ministerio de Salud y Protección Social,Casos de violencia hacia mujeres por cada 100...
314116,99.0,Vichada,99773.0,Cumaribo,Conflicto armado y seguridad ciudadana,Violencias de género,Tasa de violencias basadas en género,"176,19",NaN,2018.0,12.0,Ministerio de Salud y Protección Social,Casos de violencia hacia mujeres por cada 100...
314117,99.0,Vichada,99524.0,La Primavera,Conflicto armado y seguridad ciudadana,Violencias de género,Tasa de violencias basadas en género,"153,05",NaN,2018.0,12.0,Ministerio de Salud y Protección Social,Casos de violencia hacia mujeres por cada 100...
314118,99.0,Vichada,99624.0,Santa Rosalía,Conflicto armado y seguridad ciudadana,Violencias de género,Tasa de violencias basadas en género,"289,72",NaN,2018.0,12.0,Ministerio de Salud y Protección Social,Casos de violencia hacia mujeres por cada 100...

In [4]:
df_poblacion = pd.read_excel("Demografía Y Poblacion.xlsx")
df_poblacion

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,68.0,Santander,68000.0,Santander,Demografía y población,Población de hombres,Población de hombres de 00-04,"80.892,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
2,68.0,Santander,68001.0,Bucaramanga,Demografía y población,Población de hombres,Población de hombres de 00-04,"18.873,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
3,68.0,Santander,68013.0,Aguada,Demografía y población,Población de hombres,Población de hombres de 00-04,"57,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
4,68.0,Santander,68020.0,Albania,Demografía y población,Población de hombres,Población de hombres de 00-04,"140,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
...,...,...,...,...,...,...,...,...,...,...,...,...,...
897993,8.0,Atlántico,8560.0,Ponedera,Demografía y población,Migración,Porcentaje de población regular que ha accedid...,"11,61",NaN,2021.0,12.0,Unidad Administrativa de MigraciÃ³n Colombia -...,Porcentaje
897994,8.0,Atlántico,8832.0,Tubará,Demografía y población,Migración,Porcentaje de población regular que ha accedid...,"15,29",NaN,2021.0,12.0,Unidad Administrativa de MigraciÃ³n Colombia -...,Porcentaje
897995,8.0,Atlántico,8770.0,Suan,Demografía y población,Migración,Porcentaje de población regular que ha accedid...,"20,26",NaN,2021.0,12.0,Unidad Administrativa de MigraciÃ³n Colombia -...,Porcentaje
897996,8.0,Atlántico,8849.0,Usiacurí,Demografía y población,Migración,Porcentaje de población regular que ha accedid...,"6,82",NaN,2021.0,12.0,Unidad Administrativa de MigraciÃ³n Colombia -...,Porcentaje
897997,11.0,Bogotá,11001.0,Bogotá,Demografía y población,Migración,Porcentaje de población regular que ha accedid...,"63,53",NaN,2021.0,12.0,Unidad Administrativa de MigraciÃ³n Colombia -...,Porcentaje

In [5]:
df_educacion = pd.read_excel("Educacion.xlsx")
df_educacion

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,20.0,Cesar,20000.0,Cesar,Educación,Acceso a la educación,Cobertura bruta en transición,"122,39",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,20.0,Cesar,20001.0,Valledupar,Educación,Acceso a la educación,Cobertura bruta en transición,"98,26",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,20.0,Cesar,20011.0,Aguachica,Educación,Acceso a la educación,Cobertura bruta en transición,"107,07",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,20.0,Cesar,20013.0,Agustín Codazzi,Educación,Acceso a la educación,Cobertura bruta en transición,"120,82",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
291752,73.0,Tolima,73000.0,Tolima,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"100,48",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291753,70.0,Sucre,70000.0,Sucre,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"95,26",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291754,68.0,Santander,68000.0,Santander,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"96,93",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291755,66.0,Risaralda,66000.0,Risaralda,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"99,32",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
291756,63.0,Quindío,63000.0,Quindío,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"96,97",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [6]:
df_desempleod = pd.read_excel("Medicion de Desempleo Departamental.xlsx")
df_desempleod

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Medición de desempeño departamental,Resumen MDD,Componente de gestión,"64,47",NaN,2020.0,12.0,DNP - DDDR,Puntos
2,5.0,Antioquia,5000.0,Antioquia,Medición de desempeño departamental,Resumen MDD,Componente de gestión,"81,60",NaN,2020.0,12.0,DNP - DDDR,Puntos
3,8.0,Atlántico,8000.0,Atlántico,Medición de desempeño departamental,Resumen MDD,Componente de gestión,"68,73",NaN,2020.0,12.0,DNP - DDDR,Puntos
4,13.0,Bolívar,13000.0,Bolívar,Medición de desempeño departamental,Resumen MDD,Componente de gestión,"63,53",NaN,2020.0,12.0,DNP - DDDR,Puntos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,91.0,Amazonas,91000.0,Amazonas,Medición de desempeño departamental,Resumen MDD,MDD,"54,41",NaN,2020.0,12.0,DNP - DDDR,Puntos
96,94.0,Guainía,94000.0,Guainía,Medición de desempeño departamental,Resumen MDD,MDD,"57,56",NaN,2020.0,12.0,DNP - DDDR,Puntos
97,95.0,Guaviare,95000.0,Guaviare,Medición de desempeño departamental,Resumen MDD,MDD,"62,47",NaN,2020.0,12.0,DNP - DDDR,Puntos
98,97.0,Vaupés,97000.0,Vaupés,Medición de desempeño departamental,Resumen MDD,MDD,"53,86",NaN,2020.0,12.0,DNP - DDDR,Puntos
99,99.0,Vichada,99000.0,Vichada,Medición de desempeño departamental,Resumen MDD,MDD,"51,29",NaN,2020.0,12.0,DNP - DDDR,Puntos

In [7]:
df_desempleom = pd.read_excel("Medicion de desempleo municipal.xlsx")
df_desempleom

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,81.0,Arauca,81001.0,Arauca,Medición de desempeño municipal,Resumen MDM,Grupo de dotaciones iniciales,NaN,G1- Nivel Alto,2016.0,12.0,DNP - SPT,Texto
2,81.0,Arauca,81065.0,Arauquita,Medición de desempeño municipal,Resumen MDM,Grupo de dotaciones iniciales,NaN,G1- Nivel Alto,2016.0,12.0,DNP - SPT,Texto
3,81.0,Arauca,81220.0,Cravo Norte,Medición de desempeño municipal,Resumen MDM,Grupo de dotaciones iniciales,NaN,G1- Nivel Alto,2016.0,12.0,DNP - SPT,Texto
4,81.0,Arauca,81300.0,Fortul,Medición de desempeño municipal,Resumen MDM,Grupo de dotaciones iniciales,NaN,G3- Nivel Medio,2016.0,12.0,DNP - SPT,Texto
...,...,...,...,...,...,...,...,...,...,...,...,...,...
143820,5.0,Antioquia,5893.0,Yondó,Medición de desempeño municipal,Componente de resultados,Promedio de seguridad por grupo de DI,"86,03",NaN,2020.0,12.0,DNP - SPT,Puntos promedio
143821,5.0,Antioquia,5861.0,Venecia,Medición de desempeño municipal,Componente de resultados,Promedio de seguridad por grupo de DI,"86,03",NaN,2020.0,12.0,DNP - SPT,Puntos promedio
143822,5.0,Antioquia,5873.0,Vigía del Fuerte,Medición de desempeño municipal,Componente de resultados,Promedio de seguridad por grupo de DI,"92,78",NaN,2020.0,12.0,DNP - SPT,Puntos promedio
143823,5.0,Antioquia,5885.0,Yalí,Medición de desempeño municipal,Componente de resultados,Promedio de seguridad por grupo de DI,"90,47",NaN,2020.0,12.0,DNP - SPT,Puntos promedio
143824,5.0,Antioquia,5887.0,Yarumal,Medición de desempeño municipal,Componente de resultados,Promedio de seguridad por grupo de DI,"89,85",NaN,2020.0,12.0,DNP - SPT,Puntos promedio

In [8]:
df_salud = pd.read_excel("Salud.xlsx")
df_salud

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Salud,Aseguramiento,Afiliados al régimen contributivo,"19.957.739,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
2,5.0,Antioquia,5000.0,Antioquia,Salud,Aseguramiento,Afiliados al régimen contributivo,"3.220.651,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
3,5.0,Antioquia,5001.0,Medellín,Salud,Aseguramiento,Afiliados al régimen contributivo,"1.673.771,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
4,5.0,Antioquia,5002.0,Abejorral,Salud,Aseguramiento,Afiliados al régimen contributivo,"2.514,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
411254,15.0,Boyacá,15839.0,Tutazá,Salud,Percepción,Satisfacción con el servicio de salud - No rec...,NaN,NaN,2016.0,12.0,CIUDATOS,Porcentaje (el valor está multiplicado por 100)
411255,15.0,Boyacá,15842.0,Umbita,Salud,Percepción,Satisfacción con el servicio de salud - No rec...,NaN,NaN,2016.0,12.0,CIUDATOS,Porcentaje (el valor está multiplicado por 100)
411256,15.0,Boyacá,15861.0,Ventaquemada,Salud,Percepción,Satisfacción con el servicio de salud - No rec...,NaN,NaN,2016.0,12.0,CIUDATOS,Porcentaje (el valor está multiplicado por 100)
411257,15.0,Boyacá,15879.0,Viracachá,Salud,Percepción,Satisfacción con el servicio de salud - No rec...,NaN,NaN,2016.0,12.0,CIUDATOS,Porcentaje (el valor está multiplicado por 100)
411258,15.0,Boyacá,15897.0,Zetaquira,Salud,Percepción,Satisfacción con el servicio de salud - No rec...,NaN,NaN,2016.0,12.0,CIUDATOS,Porcentaje (el valor está multiplicado por 100)

In [9]:
df_vys = pd.read_excel("Vivienda y Servicios Publicos.xlsx")
df_vys

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"95,79",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
2,5.0,Antioquia,5000.0,Antioquia,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"98,05",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
3,5.0,Antioquia,5001.0,Medellín,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"100,00",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
4,5.0,Antioquia,5002.0,Abejorral,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"100,00",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
220657,73.0,Tolima,73770.0,Suárez,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,55",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220658,73.0,Tolima,73854.0,Valle de San Juan,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,64",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220659,73.0,Tolima,73861.0,Venadillo,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,68",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220660,73.0,Tolima,73870.0,Villahermosa,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,11",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220661,73.0,Tolima,73873.0,Villarrica,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,88",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)

### Departamentos y municipios

In [10]:
df_depymun = pd.read_csv("Departamentos_y_municipios_de_Colombia.csv")
df_depymun

,REGION,CÓDIGO DANE DEL DEPARTAMENTO,DEPARTAMENTO,CÓDIGO DANE DEL MUNICIPIO,MUNICIPIO
0,Región Eje Cafetero - Antioquia,5,Antioquia,5.001,Medellín
1,Región Eje Cafetero - Antioquia,5,Antioquia,5.002,Abejorral
2,Región Eje Cafetero - Antioquia,5,Antioquia,5.004,Abriaquí
3,Región Eje Cafetero - Antioquia,5,Antioquia,5.021,Alejandría
4,Región Eje Cafetero - Antioquia,5,Antioquia,5.030,Amagá
...,...,...,...,...,...
1118,Región Eje Cafetero - Antioquia,17,Caldas,17.444,Marquetalia
1119,Región Pacífico,52,Nariño,52.051,Arboleda
1120,Región Pacífico,76,Valle del Cauca,76.109,Buenaventura
1121,Región Caribe,47,Magdalena,47.189,Ciénaga
1122,Región Caribe,8,Atlántico,8.560,Ponedera

### Dimensiones

In [11]:
df_dim_serv = pd.read_excel("TerriData_Dim3_viviendaServiciosPublicos.xlsx")
df_dim_serv

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"95,79",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
2,5.0,Antioquia,5000.0,Antioquia,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"98,05",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
3,5.0,Antioquia,5001.0,Medellín,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"100,00",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
4,5.0,Antioquia,5002.0,Abejorral,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"100,00",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
220657,13.0,Bolívar,13810.0,Tiquisio,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"1,38",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220658,13.0,Bolívar,13836.0,Turbaco,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"2,84",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220659,13.0,Bolívar,13838.0,Turbaná,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,92",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220660,13.0,Bolívar,13873.0,Villanueva,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"1,10",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)
220661,13.0,Bolívar,13894.0,Zambrano,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de Internet Rural (Censo),"0,72",NaN,2018.0,12.0,DANE a partir de Censo,Porcentaje (el valor está multiplicado por 100)

In [12]:
df_dim_edu = pd.read_excel("TerriData_Dim4_Educacion.xlsx")
df_dim_edu

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Educación,Acceso a la educación,Cobertura bruta en transición,"95,42",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
2,5.0,Antioquia,5000.0,Antioquia,Educación,Acceso a la educación,Cobertura bruta en transición,"78,62",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
3,5.0,Antioquia,5001.0,Medellín,Educación,Acceso a la educación,Cobertura bruta en transición,"103,23",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
4,5.0,Antioquia,5002.0,Abejorral,Educación,Acceso a la educación,Cobertura bruta en transición,"51,80",NaN,2005.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294119,15.0,Boyacá,15000.0,Boyacá,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"96,75",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
294120,13.0,Bolívar,13000.0,Bolívar,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"99,78",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
294121,8.0,Atlántico,8000.0,Atlántico,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"92,67",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
294122,5.0,Antioquia,5000.0,Antioquia,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"94,30",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)
294123,1.0,Colombia,1001.0,Colombia,Educación,Acceso a la educación desagregado por sexo,Cobertura neta en educación total - Mujeres,"92,64",NaN,2020.0,12.0,Ministerio de Educación Nacional,Porcentaje (el valor está multiplicado por 100)

In [13]:
df_dim_salud = pd.read_excel("TerriData_Dim5_salud.xlsx")
df_dim_salud

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Salud,Aseguramiento,Afiliados al régimen contributivo,"19.957.739,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
2,5.0,Antioquia,5000.0,Antioquia,Salud,Aseguramiento,Afiliados al régimen contributivo,"3.220.651,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
3,5.0,Antioquia,5001.0,Medellín,Salud,Aseguramiento,Afiliados al régimen contributivo,"1.673.771,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
4,5.0,Antioquia,5002.0,Abejorral,Salud,Aseguramiento,Afiliados al régimen contributivo,"2.514,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
469604,97.0,Vaupés,97001.0,Mitú,Salud,Tasas y coberturas,Tasa de negligencia y abandono,"25,50",NaN,2020.0,12.0,Fondo de Población de las Naciones Unidas - UN...,Casos de abandono por cada 100.000 mujeres
469605,99.0,Vichada,99773.0,Cumaribo,Salud,Tasas y coberturas,Tasa de negligencia y abandono,"48,62",NaN,2020.0,12.0,Fondo de Población de las Naciones Unidas - UN...,Casos de abandono por cada 100.000 mujeres
469606,99.0,Vichada,99524.0,La Primavera,Salud,Tasas y coberturas,Tasa de negligencia y abandono,"0,00",NaN,2020.0,12.0,Fondo de Población de las Naciones Unidas - UN...,Casos de abandono por cada 100.000 mujeres
469607,99.0,Vichada,99624.0,Santa Rosalía,Salud,Tasas y coberturas,Tasa de negligencia y abandono,"0,00",NaN,2020.0,12.0,Fondo de Población de las Naciones Unidas - UN...,Casos de abandono por cada 100.000 mujeres
469608,99.0,Vichada,99001.0,Puerto Carreño,Salud,Tasas y coberturas,Tasa de negligencia y abandono,"0,00",NaN,2020.0,12.0,Fondo de Población de las Naciones Unidas - UN...,Casos de abandono por cada 100.000 mujeres

In [14]:
df_dim_pobreza = pd.read_excel("TerriData_Dim14_pobreza.xlsx")
df_dim_pobreza

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Pobreza,Indicadores de pobreza,Incidencia de la pobreza monetaria,"49,70",NaN,2002.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)
2,5.0,Antioquia,5000.0,Antioquia,Pobreza,Indicadores de pobreza,Incidencia de la pobreza monetaria,"47,90",NaN,2002.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)
3,5.0,Antioquia,5001.0,Medellín,Pobreza,Indicadores de pobreza,Incidencia de la pobreza monetaria,"36,50",NaN,2002.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)
4,8.0,Atlántico,8000.0,Atlántico,Pobreza,Indicadores de pobreza,Incidencia de la pobreza monetaria,"50,10",NaN,2002.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20035,1.0,Colombia,1001.0,Colombia,Pobreza,Incidencia de pobreza monetaria extrema según ...,Incidencia de pobreza monetaria extrema en muj...,"12,70",NaN,2021.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)
20036,1.0,Colombia,1001.0,Colombia,Pobreza,Incidencia de pobreza monetaria según sexo - A...,Incidencia de pobreza monetaria en hombres - A...,"41,70",NaN,2020.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)
20037,1.0,Colombia,1001.0,Colombia,Pobreza,Incidencia de pobreza monetaria según sexo - A...,Incidencia de pobreza monetaria en hombres - A...,"38,20",NaN,2021.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)
20038,1.0,Colombia,1001.0,Colombia,Pobreza,Incidencia de pobreza monetaria según sexo - A...,Incidencia de pobreza monetaria en mujeres - A...,"43,40",NaN,2020.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)
20039,1.0,Colombia,1001.0,Colombia,Pobreza,Incidencia de pobreza monetaria según sexo - A...,Incidencia de pobreza monetaria en mujeres - A...,"40,30",NaN,2021.0,12.0,DANE,Porcentaje (el valor está multiplicado por 100)

## Visualizar datos

### Mineria

In [ ]:
df_mineria.head()

,codigo_dane,municipio_productor,departamento,recurso_natural,nombre_del_proyecto,a_o_produccion,trimestre,unidad_medida,tipo_contraprestacion,valor_contraprestacion,cantidad_producci_n
0,5001,Medellin,Antioquia,ARCILLA,PRODUCTORES,2018,Trimestre 4,TONELADAS,REGALIA,614258.0,0.0
1,5001,Medellin,Antioquia,ARCILLAS CERAMICAS,PRODUCTORES,2014,Trimestre 4,TONELADAS,REGALIA,2036781.0,14381.0
2,5001,Medellin,Antioquia,ARCILLAS FERRUGINOSAS,PRODUCTORES,2012,Trimestre 1,TONELADAS,REGALIA,836927.0,16308.0
3,5001,Medellin,Antioquia,ARCILLAS MISCELANEAS,PRODUCTORES,2019,Trimestre 1,TONELADAS,REGALIA,5763839.0,33348.0
4,5001,Medellin,Antioquia,ARCILLAS MISCELANEAS,PRODUCTORES,2019,Trimestre 2,TONELADAS,REGALIA,5802546.0,32485.0

In [ ]:
df_mineria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   codigo_dane             45215 non-null  int64
 1   municipio_productor     45215 non-null  object
 2   departamento            45215 non-null  object
 3   recurso_natural         45215 non-null  object
 4   nombre_del_proyecto     45215 non-null  object
 5   a_o_produccion          45215 non-null  int64
 6   trimestre               45215 non-null  object
 7   unidad_medida           45215 non-null  object
 8   tipo_contraprestacion   45215 non-null  object
 9   valor_contraprestacion  45155 non-null  float64
 10  cantidad_producci_n     45214 non-null  float64
dtypes: float64(2), int64(2), object(7)
memory usage: 3.8+ MB

In [ ]:
df_mineria["municipio_productor"].value_counts()

La Jagua de Ibirico    420
Bogota, D.C.           384
Quibdo                 334
Barrancas              298
Istmina                287
                      ...
Topaipi                  1
Ovejas                   1
Yacopi                   1
Pisba                    1
Buesaco                  1
Name: municipio_productor, Length: 832, dtype: int64

In [ ]:
df_mineria["departamento"].value_counts()

Antioquia             6988
Boyaca                4892
Choco                 4315
Cundinamarca          4018
Tolima                2103
Cauca                 2075
Caldas                2066
Santander             1980
Bolivar               1881
Norte de Santander    1769
Cesar                 1679
Valle del Cauca       1672
Huila                 1419
Nariño                1400
Cordoba               1048
Meta                   942
La Guajira             884
Risaralda              691
Atlantico              537
Casanare               522
Bogota, D.C.           384
Magdalena              384
Putumayo               336
Caqueta                296
Quindio                262
Sucre                  256
Arauca                 169
Guainia                127
Guaviare                59
Vichada                 47
Vaupes                   9
Amazonas                 4
Nari��o                  1
Name: departamento, dtype: int64

In [ ]:
df_mineria["recurso_natural"]

0                      ARCILLA
1           ARCILLAS CERAMICAS
2        ARCILLAS FERRUGINOSAS
3         ARCILLAS MISCELANEAS
4         ARCILLAS MISCELANEAS
                 ...
45210                 TANTALIO
45211                      ORO
45212                   NIOBIO
45213                   NIOBIO
45214                VOLFRAMIO
Name: recurso_natural, Length: 45215, dtype: object

In [ ]:
df_mineria["nombre_del_proyecto"].value_counts()

PRODUCTORES                                    43126
MINAS PAZ DEL RIO S.A.                           361
PRODECO - CALENTURITAS                           236
Drummond - El Descanso                           188
Cerro Matoso S.A.                                186
Drummond - La Loma                               180
CERREJON CONTRATO DE ASOCIACION                  149
CERREJON  CZN - CEMT                             109
CARBONES DEL CERREJON COMUNIDAD - RPP            106
CERREJON -  OREGANAL                             100
CONSORCIO MINERO UNIDO S.A.                       65
CERREJON - PATILLA                                61
COLSALMINAS LTDA                                  57
CARBONES DE LA JAGUA S.A.                         49
EL HATILLO CNR                                    45
BRINSA S.A.                                       38
CNR - LA FRANCIA                                  33
CARBONES EL TESORO                                27
SALCOL S.A.                                       23
NORCARBON                                         23
SALINAS DE GALERAS SAS                            17
BIG GROUP SALINAS COLOMBIA - MANAURE              15
CARBONES DEL CERREJON COMUNIDAD - RPP CAYPA       10
MINAS PAZ DEL RIO SA                               5
CARBONES DEL CERREJON LIMITED (CDC LIMITED)        2
CDC LIMITED 50% y CZN S.A. 50%                     2
MINAS PAZ DEL RIO                                  1
Drummond - El Colozo                               1
Name: nombre_del_proyecto, dtype: int64

In [32]:
df_mineria.describe()

,codigo_dane,a_o_produccion,valor_contraprestacion,cantidad_producci_n
count,45215.000000,45215.000000,4.515500e+04,4.521400e+04
mean,32192.671392,2016.110384,3.829653e+08,6.450541e+04
std,23941.334350,2.617226,2.812314e+09,5.967901e+05
min,5001.000000,2012.000000,0.000000e+00,0.000000e+00
25%,15403.000000,2014.000000,1.620040e+05,5.550000e+02
50%,25260.000000,2016.000000,1.489218e+06,3.433000e+03
75%,52079.000000,2018.000000,1.640020e+07,1.934100e+04
max,99773.000000,2021.000000,1.554652e+11,2.672629e+07

### Indicadores

#### Conflicto armado

In [24]:
df_conflicto.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"35.826,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
2,5.0,Antioquia,5000.0,Antioquia,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"8.246,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
3,5.0,Antioquia,5001.0,Medellín,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"516,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas
4,5.0,Antioquia,5002.0,Abejorral,Conflicto armado y seguridad ciudadana,Conflicto armado,Número acumulado de personas secuestradas,"75,00",1984 - 2017,2017.0,12.0,Unidad para la Atención y Reparación Integral ...,Personas

In [25]:
df_conflicto["Subcategoría"].value_counts()

Conflicto armado                                       113400
Homicidios por agresor y sexo de la víctima             95256
Seguridad Ciudadana                                     51030
Presuntos delitos sexuales según sexo de la víctima     20412
Violencia de pareja según sexo de la víctima            20412
Percepción                                               7938
Violencias de género                                     5670
Name: Subcategoría, dtype: int64

In [26]:
df_conflicto["Indicador"].value_counts()

Número de personas secuestradas                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        38556
Número de personas desplazadas                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         38556
Número de personas víctimas de minas antipersona                                                                                                                                                                                                                                                                                                                                                                                                                                                                       31752
Tasa de homicidios (x cada 100.000 habitantes)                                                                                                                                                                                                                                                                                                                                                                                                                                                                         17010
Tasa de violencia intrafamiliar (x cada 100.000 habitantes)                                                                                                                                                                                                                                                                                                                                                                                                                                                            17010
Tasa de hurtos (x cada 100.000 habitantes)                                                                                                                                                                                                                                                                                                                                                                                                                                                                             17010
Tasa de violencias basadas en género                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    5670
Homicidio de mujeres por:  Sin información                                                                                                                                                                                                                                                                                                                                                                                                                                                                              3402
Presuntos delitos sexuales - Mujeres                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    3402
Homicidio de mujeres por:  Pareja o ex pareja                                                                                                                                                                                                                                                                                                                                                                                                                                                                           3402
Homicidio de mujeres por:  Otros                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        3402
Homicidio de mujeres:  Total                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            3402
Homicidio de mujeres por:  Delincuencia organizada                                                                                                                                                                                                                                                                                                                                                                                                                                                                      3402
Tasa de homicidios de hombres (x cada 100.000 hombres)                                                                                                                                                                                                                                                                                                                                                                                                                                                                  3402
Tasa de homicidios de mujeres (x cada 100.000 mujeres)                                                                                                                                                                                                                                                                                                                                                                                                                                                                  3402
Presuntos delitos sexuales - Total de casos                                                                                                                                                                                                                                                                                                                                                                                                                                                                             3402
Presuntos delitos sexuales - Hombres                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    3402
Tasa de presuntos delitos sexuales hacia mujeres (x cada 100.000 mujeres)                                                                                                                                                                                                                                                                                                                                                                                                                                               3402
Tasa de presuntos delitos sexuales (x cada 100.000 habitantes)                                                                                                                                                                                                                                                                                                                                                                                                                                                          3402
Tasa de presuntos delitos sexuales hacia hombres (x cada 100.000 hombres)                                                                                                                                                                                                                                                                                                                                                                                                                                               3402
Homicidio de mujeres por:  Fuerzas armadas y de policía                                                                                                                                                                                                                                                                                                                                                                                                                                                                 3402
Violencia de pareja -  Total de casos                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   3402
Violencia de pareja - Víctima hombre                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    3402
Violencia de pareja - Víctima mujer                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     3402
Tasa de violencia de pareja (x cada 100.000 habitantes)                                                                                                                                                                                                                                                                                                                                                                                                                                                                 3402
Tasa de violencia de pareja hacia hombres (x cada 100.000 hombres)                                                                                                                                                                                                                                                                                                                                                                                                                                                      3402
Tasa de violencia de pareja hacia mujeres (x cada 100.000 mujeres)                                                                                                                                                                                                                                                                                                                                                                                                                                                      3402
Homicidio de mujeres por:  Grupos alzados al margen de la ley                                                                                                                                                                                                                                                                                                                                                                                                                                                           3402
Homicidio de mujeres por:  Familiar                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     3402
Homicidio de hombres por:  Delincuencia común                                                                                                                                                                                                                                                                                                                                                                                                                                                                           3402
Homicidio de hombres por:  Pareja o ex pareja                                                                                                                                                                                                                                                                                                                                                                                                                                                                           3402
Homicidio de hombres por:  Agresor desconocido                                                                                                                                                                                                                                                                                                                                                                                                                                                                          3402
Homicidio de hombres por:  Amigo                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        3402
Homicidio de hombres por:  Conocido                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     3402
Homicidio de mujeres por:  Delincuencia común                                                                                                                                                                                                                                                                                                                                                                                                                                                                           3402
Homicidio de hombres por:  Familiar                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     3402
Homicidio de hombres por:  Fuerzas armadas y de policía                                                                                                                                                                                                                                                                                                                                                                                                                                                                 3402
Homicidio de hombres por:  Grupos alzados al margen de la ley                                                                                                                                                                                                                                                                                                                                                                                                                                                           3402
Homicidio de hombres por:  Otros                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        3402

In [31]:
df_conflicto.describe()

       Código Departamento  Código Entidad            Año       Mes
count        314118.000000   314118.000000  314118.000000  314118.0
mean             37.666667    38084.496473    2009.537906      12.0
std              26.018316    25990.452996       8.537646       0.0
min               1.000000     1001.000000    1984.000000      12.0
25%              15.000000    15667.000000    2006.000000      12.0
50%              25.000000    25806.000000    2014.000000      12.0
75%              66.000000    66000.000000    2015.000000      12.0
max              99.000000    99773.000000    2018.000000      12.0

#### Demografía Y Poblacion

In [33]:
df_poblacion.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,68.0,Santander,68000.0,Santander,Demografía y población,Población de hombres,Población de hombres de 00-04,"80.892,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
2,68.0,Santander,68001.0,Bucaramanga,Demografía y población,Población de hombres,Población de hombres de 00-04,"18.873,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
3,68.0,Santander,68013.0,Aguada,Demografía y población,Población de hombres,Población de hombres de 00-04,"57,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
4,68.0,Santander,68020.0,Albania,Demografía y población,Población de hombres,Población de hombres de 00-04,"140,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres

In [55]:
df_poblacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897998 entries, 0 to 897997
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código Departamento  897997 non-null  float64
 1   Departamento         897997 non-null  object
 2   Código Entidad       897997 non-null  float64
 3   Entidad              897997 non-null  object
 4   Dimensión            897997 non-null  object
 5   Subcategoría         897997 non-null  object
 6   Indicador            897998 non-null  object
 7   Dato Numérico        822492 non-null  object
 8   Dato Cualitativo     0 non-null       float64
 9   Año                  897997 non-null  float64
 10  Mes                  897997 non-null  float64
 11  Fuente               897998 non-null  object
 12  Unidad de Medida     897997 non-null  object
dtypes: float64(5), object(8)
memory usage: 89.1+ MB

In [34]:
df_poblacion["Subcategoría"].value_counts()

Población de hombres                               231336
Población de mujeres                               231336
Población total por grupos quinquenales de edad    231336
Migración                                           87256
Información SISBEN                                  29799
Población desagregada por sexo                      27216
Población desagregada por área                      27216
Comportamiento puntaje SISBEN                       13224
Población étnica                                    10206
Población menor y mayor de edad                      9072
Name: Subcategoría, dtype: int64

In [36]:
df_poblacion["Indicador"].value_counts()

Total registros válidos - Hogares                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      8800
Total registros válidos - Personas                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     8800
Total registros válidos - Fichas                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       8800
Proyección de población entre los 35 y 39 años                                                                                                                                                                                                                                                                                                                                                                                                                                                                         6804
Proyección de población entre los 25 y 29 años                                                                                                                                                                                                                                                                                                                                                                                                                                                                         6804
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ...
Puntaje SISBEN: Promedio - Rural disperso                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1102
Puntaje SISBEN: Mínimo - Total                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1102
Puntaje SISBEN: Máximo - Total                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1102
Puntaje SISBEN: Promedio - Total                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1102
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa       1
Name: Indicador, Length: 179, dtype: int64

In [37]:
df_poblacion.describe()

,Código Departamento,Código Entidad,Dato Cualitativo,Año,Mes
count,897997.000000,897997.000000,0.0,897997.000000,897997.000000
mean,37.644918,38063.315163,NaN,2020.187781,11.549461
std,26.003483,25975.861971,NaN,2.077499,2.089799
min,1.000000,1001.000000,NaN,2010.000000,1.000000
25%,15.000000,15667.000000,NaN,2019.000000,12.000000
50%,25.000000,25805.000000,NaN,2020.000000,12.000000
75%,66.000000,66000.000000,NaN,2022.000000,12.000000
max,99.000000,99773.000000,NaN,2023.000000,12.000000

#### Educacion

In [ ]:
df_poblacion.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,68.0,Santander,68000.0,Santander,Demografía y población,Población de hombres,Población de hombres de 00-04,"80.892,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
2,68.0,Santander,68001.0,Bucaramanga,Demografía y población,Población de hombres,Población de hombres de 00-04,"18.873,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
3,68.0,Santander,68013.0,Aguada,Demografía y población,Población de hombres,Población de hombres de 00-04,"57,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
4,68.0,Santander,68020.0,Albania,Demografía y población,Población de hombres,Población de hombres de 00-04,"140,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres

In [ ]:
df_poblacion["Subcategoría"].value_counts()

Población de hombres                               231336
Población de mujeres                               231336
Población total por grupos quinquenales de edad    231336
Migración                                           87256
Información SISBEN                                  29799
Población desagregada por sexo                      27216
Población desagregada por área                      27216
Comportamiento puntaje SISBEN                       13224
Población étnica                                    10206
Población menor y mayor de edad                      9072
Name: Subcategoría, dtype: int64

In [ ]:
df_poblacion["Indicador"].value_counts()

Total registros válidos - Hogares                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      8800
Total registros válidos - Personas                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     8800
Total registros válidos - Fichas                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       8800
Proyección de población entre los 35 y 39 años                                                                                                                                                                                                                                                                                                                                                                                                                                                                         6804
Proyección de población entre los 25 y 29 años                                                                                                                                                                                                                                                                                                                                                                                                                                                                         6804
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ...
Puntaje SISBEN: Promedio - Rural disperso                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1102
Puntaje SISBEN: Mínimo - Total                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1102
Puntaje SISBEN: Máximo - Total                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1102
Puntaje SISBEN: Promedio - Total                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1102
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa       1
Name: Indicador, Length: 179, dtype: int64

In [ ]:
df_poblacion.describe()

,Código Departamento,Código Entidad,Dato Cualitativo,Año,Mes
count,897997.000000,897997.000000,0.0,897997.000000,897997.000000
mean,37.644918,38063.315163,NaN,2020.187781,11.549461
std,26.003483,25975.861971,NaN,2.077499,2.089799
min,1.000000,1001.000000,NaN,2010.000000,1.000000
25%,15.000000,15667.000000,NaN,2019.000000,12.000000
50%,25.000000,25805.000000,NaN,2020.000000,12.000000
75%,66.000000,66000.000000,NaN,2022.000000,12.000000
max,99.000000,99773.000000,NaN,2023.000000,12.000000

#### Demografía Y Poblacion

#### Medicion de Desempleo Departamental

In [38]:
df_desempleod.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Medición de desempeño departamental,Resumen MDD,Componente de gestión,"64,47",NaN,2020.0,12.0,DNP - DDDR,Puntos
2,5.0,Antioquia,5000.0,Antioquia,Medición de desempeño departamental,Resumen MDD,Componente de gestión,"81,60",NaN,2020.0,12.0,DNP - DDDR,Puntos
3,8.0,Atlántico,8000.0,Atlántico,Medición de desempeño departamental,Resumen MDD,Componente de gestión,"68,73",NaN,2020.0,12.0,DNP - DDDR,Puntos
4,13.0,Bolívar,13000.0,Bolívar,Medición de desempeño departamental,Resumen MDD,Componente de gestión,"63,53",NaN,2020.0,12.0,DNP - DDDR,Puntos

In [41]:
df_desempleod["Subcategoría"].value_counts()

Resumen MDD    99
Name: Subcategoría, dtype: int64

In [42]:
df_desempleod["Indicador"].value_counts()

Componente de gestión                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  33
Componente de resultados                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               33
MDD                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    33
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa     1
Name: Indicador, dtype: int64

In [43]:
df_desempleod.describe()

       Código Departamento  Código Entidad  Dato Cualitativo     Año   Mes
count            99.000000       99.000000               0.0    99.0  99.0
mean             51.848485    51848.515152               NaN  2020.0  12.0
std              31.399130    31399.080674               NaN     0.0   0.0
min               1.000000     1001.000000               NaN  2020.0  12.0
25%              20.000000    20000.000000               NaN  2020.0  12.0
50%              52.000000    52000.000000               NaN  2020.0  12.0
75%              81.000000    81000.000000               NaN  2020.0  12.0
max              99.000000    99000.000000               NaN  2020.0  12.0

#### Medicion de desempleo municipal

In [44]:
df_desempleom.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,81.0,Arauca,81001.0,Arauca,Medición de desempeño municipal,Resumen MDM,Grupo de dotaciones iniciales,NaN,G1- Nivel Alto,2016.0,12.0,DNP - SPT,Texto
2,81.0,Arauca,81065.0,Arauquita,Medición de desempeño municipal,Resumen MDM,Grupo de dotaciones iniciales,NaN,G1- Nivel Alto,2016.0,12.0,DNP - SPT,Texto
3,81.0,Arauca,81220.0,Cravo Norte,Medición de desempeño municipal,Resumen MDM,Grupo de dotaciones iniciales,NaN,G1- Nivel Alto,2016.0,12.0,DNP - SPT,Texto
4,81.0,Arauca,81300.0,Fortul,Medición de desempeño municipal,Resumen MDM,Grupo de dotaciones iniciales,NaN,G3- Nivel Medio,2016.0,12.0,DNP - SPT,Texto

In [45]:
df_desempleom["Subcategoría"].value_counts()

Resumen MDM                 55726
Componente de resultados    44050
Componente de gestión       44048
Name: Subcategoría, dtype: int64

In [46]:
df_desempleom["Indicador"].value_counts()

MDM                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    5507
Promedio de servicios públicos por grupo de DI                                                                                                                                                                                                                                                                                                                                                                                                                                                                         5507
Acceso a servicios públicos                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            5507
Componente de resultados                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               5507
Componente de resultados - Posición                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    5507
Promedio de resultados por grupo de DI                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 5507
MDM - Posición                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         5507
Promedio MDM por grupo de DI                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           5507
Recaudo con instrumentos de ordenamiento territorial                                                                                                                                                                                                                                                                                                                                                                                                                                                                   5506
Gobierno abierto y transparencia                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       5506
Promedio de movilización de recursos por grupo de DI                                                                                                                                                                                                                                                                                                                                                                                                                                                                   5506
Promedio de seguridad por grupo de DI                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  5506
Movilización de recursos                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               5506
Promedio de ejecución de recursos por grupo de DI                                                                                                                                                                                                                                                                                                                                                                                                                                                                      5506
Promedio de recaudo con instrumentos de ordenamiento territorial por grupo de DI                                                                                                                                                                                                                                                                                                                                                                                                                                       5506
Promedio de gobierno abierto y transparencia por grupo de DI                                                                                                                                                                                                                                                                                                                                                                                                                                                           5506
Ejecución de recursos                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  5506
Promedio de educación por grupo de DI                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  5506
Grupo de dotaciones iniciales                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          5506
Seguridad                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              5506
Salud                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  5506
Promedio de salud por grupo de DI                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      5506
Promedio de gestión por grupo de DI                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    5506
Componente de gestión - Posición                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       5506
Componente de gestión                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  5506
Educación                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              5506
Promedio del componente de resultados por departamento y nación                                                                                                                                                                                                                                                                                                                                                                                                                                                         165
Promedio del componente de gestión por departamento y nación                                                                                                                                                                                                                                                                                                                                                                                                                                                            165
Promedio del indicador de MDM por departamento y nación                                                                                                                                                                                                                                                                                                                                                                                                                                                                 165
Posición nacional del indicador final MDM                                                                                                                                                                                                                                                                                                                                                                                                                                                                                66
Posición nacional en resultados                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          66
Posición nacional en gestión                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             33
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa       1
Name: Indicador, dtype: int64

In [47]:
df_desempleom.describe()

       Código Departamento  Código Entidad            Año            Mes
count        143824.000000   143824.000000  143824.000000  143824.000000
mean             37.300061    37728.337371    2017.998123      11.598829
std              25.775104    25752.285951       1.414281       0.800880
min               1.000000     1001.000000    2016.000000      10.000000
25%              15.000000    15646.000000    2017.000000      12.000000
50%              25.000000    25785.000000    2018.000000      12.000000
75%              63.000000    63401.000000    2019.000000      12.000000
max              99.000000    99773.000000    2020.000000      12.000000

#### Salud

In [48]:
df_salud.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Salud,Aseguramiento,Afiliados al régimen contributivo,"19.957.739,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
2,5.0,Antioquia,5000.0,Antioquia,Salud,Aseguramiento,Afiliados al régimen contributivo,"3.220.651,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
3,5.0,Antioquia,5001.0,Medellín,Salud,Aseguramiento,Afiliados al régimen contributivo,"1.673.771,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas
4,5.0,Antioquia,5002.0,Abejorral,Salud,Aseguramiento,Afiliados al régimen contributivo,"2.514,00",NaN,2012.0,12.0,Ministerio de Salud y Protección Social,Personas

In [49]:
df_salud["Subcategoría"].value_counts()

Tasas y coberturas    352290
Aseguramiento          52164
Percepción              6804
Name: Subcategoría, dtype: int64

In [50]:
df_salud["Indicador"].value_counts()

Porcentaje de nacidos vivos con bajo peso al nacer                                                                                                                                                                                                                                                                                                                                                                                                                                                                     17010
Razón de mortalidad materna a 42 días                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  17010
Tasa de fecundidad específica en mujeres de 10 a 19 años                                                                                                                                                                                                                                                                                                                                                                                                                                                               17010
Tasa de fecundidad específica en mujeres de 10 a 14 años                                                                                                                                                                                                                                                                                                                                                                                                                                                               17010
Porcentaje de nacidos vivos hijos de mujeres de 14 a 17 años                                                                                                                                                                                                                                                                                                                                                                                                                                                           17010
Promedio de controles prenatales                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       17010
Porcentaje de nacidos vivos hijos de mujeres menores de 14 años                                                                                                                                                                                                                                                                                                                                                                                                                                                        17010
Porcentaje de nacidos vivos con 4 o más consultas de control prenatal                                                                                                                                                                                                                                                                                                                                                                                                                                                  17010
Tasa de mortalidad neonatal                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            17010
Tasa de mortalidad (x cada 1.000 habitantes)                                                                                                                                                                                                                                                                                                                                                                                                                                                                           17010
Tasa de mortalidad infantil en menores de 1 año (x cada 1.000 nacidos vivos)                                                                                                                                                                                                                                                                                                                                                                                                                                           15876
Porcentaje de nacidos vivos hijos de mujeres de 18 a 26 años                                                                                                                                                                                                                                                                                                                                                                                                                                                           15876
Tasa de mortalidad infantil en menores de 5 años                                                                                                                                                                                                                                                                                                                                                                                                                                                                       15876
Mortalidad en menores de 5 años por enfermedad diarréica aguda (EDA)                                                                                                                                                                                                                                                                                                                                                                                                                                                   15876
Mortalidad en menores de 5 años por infección respiratoria aguda (IRA)                                                                                                                                                                                                                                                                                                                                                                                                                                                 15876
Mortalidad por desnutrición en menores de 5 años                                                                                                                                                                                                                                                                                                                                                                                                                                                                       14742
Cobertura vacunación pentavalente en menores de 1 año                                                                                                                                                                                                                                                                                                                                                                                                                                                                  13608
Afiliados al régimen contributivo                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      10206
Afiliados a regímenes especiales                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       10206
Cobertura del régimen subsidiado                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       10206
Afiliados al régimen subsidado                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         10206
Afiliados al SGSSS                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      9072
Tasa de fecundidad (x cada 1.000 mujeres en edad fértil)                                                                                                                                                                                                                                                                                                                                                                                                                                                                7938
Mujeres con suministro de métodos de anticoncepción                                                                                                                                                                                                                                                                                                                                                                                                                                                                     7933
Tasa de negligencia y abandono                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          7714
Cobertura de vacunación DPT                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             6804
Cobertuna de vacunación triple viral                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    6804
Tasa de fecundidad en mujeres entre 15 y 19 años                                                                                                                                                                                                                                                                                                                                                                                                                                                                        4535
Tasa ajustada de mortalidad por lesiones autoinfligidas intencionalmente (suicidios) - Hombre                                                                                                                                                                                                                                                                                                                                                                                                                           3402
Tasa ajustada de mortalidad por accidentes de transporte terrestre - Hombres                                                                                                                                                                                                                                                                                                                                                                                                                                            3402
Tasa ajustada de mortalidad por accidentes de transporte terrestre - Mujeres                                                                                                                                                                                                                                                                                                                                                                                                                                            3402
Tasa ajustada de mortalidad por lesiones autoinfligidas intencionalmente (suicidios)                                                                                                                                                                                                                                                                                                                                                                                                                                    3402
Tasa ajustada de mortalidad por lesiones autoinfligidas intencionalmente (suicidios) - Mujer                                                                                                                                                                                                                                                                                                                                                                                                                            3402
Tasa ajustada de mortalidad por accidentes de transporte terrestre                                                                                                                                                                                                                                                                                                                                                                                                                                                      3392
Población pobre no atendida - PPNA                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      2268
Incidencia del dengue                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   2268
Incidencia de la tuberculosis                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           2268
Incidencia del VIH - Mujer                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1134
Satisfacción con el servicio de salud - Algo insatisfecho                                                                                                                                                                                                                                                                                                                                                                                                                                                               1134

In [ ]:
df_salud.describe()

,Código Departamento,Código Entidad,Dato Cualitativo,Año,Mes
count,897997.000000,897997.000000,0.0,897997.000000,897997.000000
mean,37.644918,38063.315163,NaN,2020.187781,11.549461
std,26.003483,25975.861971,NaN,2.077499,2.089799
min,1.000000,1001.000000,NaN,2010.000000,1.000000
25%,15.000000,15667.000000,NaN,2019.000000,12.000000
50%,25.000000,25805.000000,NaN,2020.000000,12.000000
75%,66.000000,66000.000000,NaN,2022.000000,12.000000
max,99.000000,99773.000000,NaN,2023.000000,12.000000

#### Vivienda y Servicios Publicos

In [51]:
df_vys.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,1.0,Colombia,1001.0,Colombia,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"95,79",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
2,5.0,Antioquia,5000.0,Antioquia,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"98,05",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
3,5.0,Antioquia,5001.0,Medellín,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"100,00",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)
4,5.0,Antioquia,5002.0,Abejorral,Vivienda y acceso a servicios públicos,Vivienda y acceso a servicios públicos,Cobertura de energía eléctrica rural,"100,00",NaN,2011.0,12.0,UPME,Porcentaje (el valor está multiplicado por 100)

In [52]:
df_vys["Subcategoría"].value_counts()

Vivienda y acceso a servicios públicos    220661
Name: Subcategoría, dtype: int64

In [53]:
df_vys["Indicador"].value_counts()

Penetración de banda ancha                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             46494
Cobertura de acueducto (REC)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           14742
Cobertura de alcantarillado (REC)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      14742
Cobertura de alcantarillado rural (REC)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                14008
Cobertura de acueducto urbana (REC)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    14008
Cobertura de acueducto rural (REC)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     14008
Cobertura de aseo rural (REC)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          14008
Cobertura de aseo urbana (REC)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         14008
Cobertura de alcantarillado urbana (REC)                                                                                                                                                                                                                                                                                                                                                                                                                                                                               14008
Cobertura de aseo (REC)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                14008
Cobertura de energía eléctrica rural                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    9072
Cobertura de acueducto (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          2268
Cobertura de alcantarillado (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     2268
Déficit cualitativo de vivienda (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 2268
Déficit cuantitativo de vivienda (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                2268
Cobertura de alcantarillado rural (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                               2173
Cobertura de aseo (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               2173
Cobertura de alcantarillado urbana (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                              2173
Cobertura de acueducto rural (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    2173
Cobertura de acueducto urbana (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   2173
Cobertura de Energía Eléctrica Rural (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1103
Cobertura de Internet Urbana (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1103
Cobertura de Internet (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1103
Cobertura de Aseo Rural (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1103
Cobertura de Aseo Urbana (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1103
Cobertura de Gas Natural Rural (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1103
Cobertura Gas Natural Urbano (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1103
Cobertura de Gas Natural (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1103
Cobertura de Internet Rural (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1103
Cobertura de Energía Eléctrica Urbana (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1103
Cobertura de Energía Eléctrica (Censo)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1103
Negro (a), mulato, afrocolombiano Acueducto                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1097
Palenquero Acueducto                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1097
Raizal de San Andrés y Providencia Acueducto                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1097
Rom Acueducto                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1097
Indígena Acueducto                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      1097
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa        1
Name: Indicador, dtype: int64

In [54]:
df_vys.describe()

,Código Departamento,Código Entidad,Dato Cualitativo,Año,Mes
count,220661.000000,220661.000000,19260.000000,220661.000000,220661.000000
mean,37.276306,37705.692469,15.500000,2013.955234,10.737575
std,25.757548,25735.063087,7.762289,4.197391,2.427703
min,1.000000,1001.000000,3.000000,2005.000000,3.000000
25%,15.000000,15646.000000,9.000000,2011.000000,9.000000
50%,25.000000,25781.000000,15.500000,2014.000000,12.000000
75%,63.000000,63401.000000,22.000000,2018.000000,12.000000
max,99.000000,99773.000000,28.000000,2020.000000,12.000000

### Dimensiones

#### Salud

In [ ]:
df_poblacion.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,68.0,Santander,68000.0,Santander,Demografía y población,Población de hombres,Población de hombres de 00-04,"80.892,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
2,68.0,Santander,68001.0,Bucaramanga,Demografía y población,Población de hombres,Población de hombres de 00-04,"18.873,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
3,68.0,Santander,68013.0,Aguada,Demografía y población,Población de hombres,Población de hombres de 00-04,"57,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
4,68.0,Santander,68020.0,Albania,Demografía y población,Población de hombres,Población de hombres de 00-04,"140,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres

In [ ]:
df_poblacion["Subcategoría"].value_counts()

Población de hombres                               231336
Población de mujeres                               231336
Población total por grupos quinquenales de edad    231336
Migración                                           87256
Información SISBEN                                  29799
Población desagregada por sexo                      27216
Población desagregada por área                      27216
Comportamiento puntaje SISBEN                       13224
Población étnica                                    10206
Población menor y mayor de edad                      9072
Name: Subcategoría, dtype: int64

In [ ]:
df_poblacion["Indicador"].value_counts()

Total registros válidos - Hogares                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      8800
Total registros válidos - Personas                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     8800
Total registros válidos - Fichas                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       8800
Proyección de población entre los 35 y 39 años                                                                                                                                                                                                                                                                                                                                                                                                                                                                         6804
Proyección de población entre los 25 y 29 años                                                                                                                                                                                                                                                                                                                                                                                                                                                                         6804
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ...
Puntaje SISBEN: Promedio - Rural disperso                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1102
Puntaje SISBEN: Mínimo - Total                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1102
Puntaje SISBEN: Máximo - Total                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1102
Puntaje SISBEN: Promedio - Total                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1102
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa       1
Name: Indicador, Length: 179, dtype: int64

In [ ]:
df_poblacion.describe()

,Código Departamento,Código Entidad,Dato Cualitativo,Año,Mes
count,897997.000000,897997.000000,0.0,897997.000000,897997.000000
mean,37.644918,38063.315163,NaN,2020.187781,11.549461
std,26.003483,25975.861971,NaN,2.077499,2.089799
min,1.000000,1001.000000,NaN,2010.000000,1.000000
25%,15.000000,15667.000000,NaN,2019.000000,12.000000
50%,25.000000,25805.000000,NaN,2020.000000,12.000000
75%,66.000000,66000.000000,NaN,2022.000000,12.000000
max,99.000000,99773.000000,NaN,2023.000000,12.000000

In [ ]:
df_poblacion.head()

,Código Departamento,Departamento,Código Entidad,Entidad,Dimensión,Subcategoría,Indicador,Dato Numérico,Dato Cualitativo,Año,Mes,Fuente,Unidad de Medida
0,NaN,NaN,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN
1,68.0,Santander,68000.0,Santander,Demografía y población,Población de hombres,Población de hombres de 00-04,"80.892,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
2,68.0,Santander,68001.0,Bucaramanga,Demografía y población,Población de hombres,Población de hombres de 00-04,"18.873,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
3,68.0,Santander,68013.0,Aguada,Demografía y población,Población de hombres,Población de hombres de 00-04,"57,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres
4,68.0,Santander,68020.0,Albania,Demografía y población,Población de hombres,Población de hombres de 00-04,"140,00",NaN,2018.0,12.0,DANE - Censo Nacional de Población y Vivienda,Hombres

In [ ]:
df_poblacion["Subcategoría"].value_counts()

Población de hombres                               231336
Población de mujeres                               231336
Población total por grupos quinquenales de edad    231336
Migración                                           87256
Información SISBEN                                  29799
Población desagregada por sexo                      27216
Población desagregada por área                      27216
Comportamiento puntaje SISBEN                       13224
Población étnica                                    10206
Población menor y mayor de edad                      9072
Name: Subcategoría, dtype: int64

In [ ]:
df_poblacion["Indicador"].value_counts()

Total registros válidos - Hogares                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      8800
Total registros válidos - Personas                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     8800
Total registros válidos - Fichas                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       8800
Proyección de población entre los 35 y 39 años                                                                                                                                                                                                                                                                                                                                                                                                                                                                         6804
Proyección de población entre los 25 y 29 años                                                                                                                                                                                                                                                                                                                                                                                                                                                                         6804
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ...
Puntaje SISBEN: Promedio - Rural disperso                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1102
Puntaje SISBEN: Mínimo - Total                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1102
Puntaje SISBEN: Máximo - Total                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1102
Puntaje SISBEN: Promedio - Total                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1102
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa       1
Name: Indicador, Length: 179, dtype: int64

In [ ]:
df_poblacion.describe()

,Código Departamento,Código Entidad,Dato Cualitativo,Año,Mes
count,897997.000000,897997.000000,0.0,897997.000000,897997.000000
mean,37.644918,38063.315163,NaN,2020.187781,11.549461
std,26.003483,25975.861971,NaN,2.077499,2.089799
min,1.000000,1001.000000,NaN,2010.000000,1.000000
25%,15.000000,15667.000000,NaN,2019.000000,12.000000
50%,25.000000,25805.000000,NaN,2020.000000,12.000000
75%,66.000000,66000.000000,NaN,2022.000000,12.000000
max,99.000000,99773.000000,NaN,2023.000000,12.000000

## Limpieza de datos

In [15]:
!pip install geopy
from geopy.geocoders import Nominatim

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)

Esto puede ser utilizado para verificar que si exista el municipio. Toca verificar que la longitud sea de 2

In [64]:
geolocator = Nominatim(user_agent="Proyecto2")
location = geolocator.geocode("Bogota, Cundinamarca, Colombia") 
print(location.address)
location.address.count(",")

Bogota, Autopista Medellín, Siberia, Cota, Sabana Occidente, Cundinamarca, 250017, Colombia

7

#### Eliminar columnas

## Correlacion de las columnas