# Proyecto 2

Integrantes:

*Jessica Robles*

*Maria Paula Gonzalez*

*Juan Esteban Vergara*

In [2]:
seed = 161
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

# Composicion de pipelines
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

# Regresion lineal
from sklearn.linear_model import LinearRegression

# Importar/ Exportar modelos
from joblib import dump, load

# Metricas
from sklearn.metrics import mean_squared_error as mse

# q-q plots
import scipy.stats as stats

import json

## Cargar datos

In [6]:
df_mineria = pd.read_json("datosMineria.json")
df_mineria

,codigo_dane,municipio_productor,departamento,recurso_natural,nombre_del_proyecto,a_o_produccion,trimestre,unidad_medida,tipo_contraprestacion,valor_contraprestacion,cantidad_producci_n
0,5001,Medellin,Antioquia,ARCILLA,PRODUCTORES,2018,Trimestre 4,TONELADAS,REGALIA,614258.0,0.0
1,5001,Medellin,Antioquia,ARCILLAS CERAMICAS,PRODUCTORES,2014,Trimestre 4,TONELADAS,REGALIA,2036781.0,14381.0
2,5001,Medellin,Antioquia,ARCILLAS FERRUGINOSAS,PRODUCTORES,2012,Trimestre 1,TONELADAS,REGALIA,836927.0,16308.0
3,5001,Medellin,Antioquia,ARCILLAS MISCELANEAS,PRODUCTORES,2019,Trimestre 1,TONELADAS,REGALIA,5763839.0,33348.0
4,5001,Medellin,Antioquia,ARCILLAS MISCELANEAS,PRODUCTORES,2019,Trimestre 2,TONELADAS,REGALIA,5802546.0,32485.0
...,...,...,...,...,...,...,...,...,...,...,...
45210,99773,Cumaribo,Vichada,TANTALIO,PRODUCTORES,2018,Trimestre 2,KILOGRAMOS,REGALIA,645095.0,35.0
45211,99773,Cumaribo,Vichada,ORO,PRODUCTORES,2019,Trimestre 4,GRAMOS,REGALIA,9251843.0,1752.0
45212,99773,Cumaribo,Vichada,NIOBIO,PRODUCTORES,2014,Trimestre 4,KILOGRAMOS,REGALIA,23396026.0,6195.0
45213,99773,Cumaribo,Vichada,NIOBIO,PRODUCTORES,2016,Trimestre 4,KILOGRAMOS,REGALIA,12658396.0,1442.0
45214,99773,Cumaribo,Vichada,VOLFRAMIO,PRODUCTORES,2016,Trimestre 4,KILOGRAMOS,REGALIA,8351500.0,2840.0

In [ ]:
df_conflicto = pd.read_excel("Conflicto Armado.xlsx")
df_conflicto

In [ ]:
df_poblacion = pd.read_excel("Demografía Y Poblacion.xlsx")
df_poblacion

In [ ]:
df_educacion = pd.read_excel("Educacion.xlsx")
df_educacion

In [ ]:
df_desempleod = pd.read_excel("Medicion de Desempleo Departamental.xlsx")
df_desempleod

In [ ]:
df_desempleom = pd.read_excel("Medicion de desempleo municipal.xlsx")
df_desempleom

In [ ]:
df_salud = pd.read_excel("Salud.xlsx")
df_salud

In [ ]:
df_vys = pd.read_excel("Vivienda y Servicios Publicos.xlsx")
df_vys

## Visualizar datos

## Correlacion de las columnas